<div class="bmbp-portal-header-set">
    <div class="search">
        <input dTextInput placeholder="输入关键词" [size]="'sm'"/>
        <d-icon [icon]="'icon-search'" [color]="'#FFFFFF'"></d-icon>
    </div>
    <div class="item">
        <d-icon [icon]="'icon-op-help'" [color]="'#FFFFFF'"></d-icon>
    </div>
    <div class="item">
        <d-badge [count]="91" [maxCount]="9" [showDot]="true" status="danger" position="top-left">
            <d-icon [icon]="'icon-remind'" [color]="'#FFFFFF'"></d-icon>
        </d-badge>
    </div>
    <div class="item">
        <d-icon [icon]="'icon-setting'" [color]="'#FFFFFF'"></d-icon>
    </div>
    <div class="item">
        <d-avatar [name]="'张'" [width]="18" [height]="18"></d-avatar>
    </div>
</div>