@import 'ng-devui/styles-var/devui-var.scss';

$header-height: 40px;
$footer-height: 24px;
$center-height: calc(100% - $header-height - $footer-height);

$aside-width: 200px;
$full-height: 100%;

.bmbp-layout {
  width: 100%;
  height: 100%;
  border: red solid 2px;

  .bmbp-layout-header {
    width: inherit;
    height: $header-height;
    border: green solid 2px;
  }

  .bmbp-layout-center {
    width: inherit;
    height: $center-height;
    border: blue solid 2px;
    display: flex;

    .bmbp-layout-aside {
      width: $aside-width;
      height: $full-height;
      border: blueviolet solid 2px;
      overflow-y: auto;
      overflow-x: hidden;

      .bmbp-layout-aside-menu {
        width: $aside-width;
      }
    }

    .bmbp-layout-content {
      width: calc(100% - $aside-width);
      height: $full-height;
      border: greenyellow solid 2px;
      max-height: $full-height;
      display: block;

      .header {
        width: 100%;
        height: 24px;
        max-height: 24px;
        border: royalblue 2px solid;
      }

      .content {
        width: 100%;
        overflow: auto;
        border: blueviolet 2px solid;
        height: calc(100% - 24px);
        max-height: calc(100% - 24px);
        padding: 5px;
      }
    }

  }

  .bmbp-layout-footer {
    width: inherit;
    height: $footer-height;
    border: green solid 2px;
  }
}



