<div class="bmbp-layout">
    <div class="bmbp-layout-header">
        <span>顶部导航</span>
    </div>
    <div class="bmbp-layout-center">
        <div class="bmbp-layout-aside">
            <d-accordion (itemClick)="menuItemClick($event)"
                         [data]="rbacMenu" [showNoContent]=false
                         accordionType="embed"
                         class="bmbp-layout-aside-menu"></d-accordion>
        </div>
        <div class="bmbp-layout-content">
            <div class="header">
                多选项卡、面包屑
            </div>
            <div class="content">
                <!--                <div style="background: aqua;width: 12400px;height: 17000px">Content</div>-->
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
    <div class="bmbp-layout-footer">
        底部版权
    </div>
</div>

